<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP | 商品列表</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/assets/scss/all.scss" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container py-32 py-md-16 mb-48">
      <!--麵包屑導覽-->
      <nav class="mb-24 mb-md-12">
        <ol class="d-flex">
          <li class="breadcrumb-item">
            <a href="index.html" class="breadcrumb-link">首頁</a>
          </li>
          <li class="breadcrumb-item">
            <a href="index.html" class="breadcrumb-link">女鞋</a>
          </li>
          <li class="breadcrumb-item">所有商品</li>
        </ol>
      </nav>
      <h1 class="h3 h4-md mb-24 mb-md-12">女鞋</h1>
      <div class="row">
        <!--category-->
        <div class="col-2 d-md-none">
          <nav>
            <ul class="category">
              <li class="mb-16">
                <a href="#" class="py-8 active">所有商品</a>
              </li>
              <li class="mb-16"><a href="#" class="py-8">慢跑鞋</a></li>
              <li class="mb-16"><a href="#" class="py-8">滑板鞋</a></li>
              <li class="mb-16"><a href="#" class="py-8">厚底鞋</a></li>
              <li class="mb-16"><a href="#" class="py-8">限定/聯名企劃</a></li>
            </ul>
          </nav>
        </div>
        <!--產品列表-->
        <div class="col-10 col-md-4">
          <div class="row">
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_9.png"
                    alt="PLATFORM 404"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_8.png"
                    alt="PLATFORM 404"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_7.png"
                    alt="VM001"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">VM001</h2>
                <p>NT$2,600</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_6.png"
                    alt="Melty Kiss"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">Melty Kiss</h2>
                <p>NT$4,000</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_5.png"
                    alt="BOOMBLOK"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_4.png"
                    alt="BOOMBLOK"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_3.png"
                    alt="R:UNER"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">R:UNER</h2>
                <p>NT$4,000</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-24">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_2.png"
                    alt="Sugar Snap"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">Sugar Snap</h2>
                <p>NT$4,000</p>
              </div>
            </div>
            <div class="col-4 col-md-2">
              <div class="mb-48 mb-md-32">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card.png"
                    alt="Neofoam"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">Neofoam</h2>
                <p>NT$4,000</p>
              </div>
            </div>
            <div class="col-4 col-md-2 d-none d-md-block">
              <div class="mb-48 mb-md-32">
                <a href="product.html">
                  <img
                    class="mb-12 mb-md-8"
                    src="/assets/images/Product-Card_1.png"
                    alt="Buttermood"
                  />
                </a>
                <h2 class="h6 mb-4 mb-md-0">Buttermood</h2>
                <p>NT$4,000</p>
              </div>
            </div>
          </div>
          <!--pagination-->
          <ul class="d-flex justify-center">
            <li class="me-12 page-item">
              <button type="button" class="btn" disabled>
                <i class="bi bi-chevron-left"></i>
              </button>
            </li>

            <li class="me-8 page-item">
              <button type="button" class="btn active">1</button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">2</button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">3</button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">...</button>
            </li>

            <li class="me-8 page-item">
              <button type="button" class="btn">10</button>
            </li>

            <li class="page-item">
              <button type="button" class="btn">
                <i class="bi bi-chevron-right"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <div class="bg-primary-200 d-flex justify-center align-center py-24">
      <p class="h4 me-24">加入會員取得 9 折優惠</p>
      <button type="button" class="btn btn-dark">馬上註冊</button>
    </div>

    <%- include('./layout/footer'); -%>
  </body>
</html>
